body {
    padding: 0;
    margin: 0;
    font-family: 'Martian Mono', monospace;
    background: #194146;
}

.layout__map {
  border: 1px solid #1dc8c8;
}

.layout__map::before {
content: '';
display: block;
z-index: 1;
position: absolute;
width: 100%;
height: 100vh;
box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
pointer-events: none;
}

html, body, main, #map, #mapcontainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#map {
  z-index:0;
  -webkit-filter: brightness(100%) sepia(100%) hue-rotate(135deg) saturate(700%) contrast(75%);
  filter: brightness(100%) sepia(100%) hue-rotate(135deg) saturate(700%) contrast(75%);
  background: #194146;

}
#map::after {
    content: "";
background-image: radial-gradient(#4d5e69 1px, transparent 0);
background-size: 40px 40px;
background-position: -19px -19px;
width: 100%;
height: 100vh;
z-index: 9999;
pointer-events: none;
position: absolute;
top: 0;
left: 0;
opacity: 0.5;
}

.layout__header h1 {
  margin: 0;
    padding: 0 0 0 10px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 24px;
}

.layout__header h1::before {
  width: 50px;
  height: 40px;
  float: left;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='40px' viewBox='0 0 120 120' fill='white' enable-background='new 0 0 120 120' xml:space='preserve'%3E%3Cpath d='M60,19.089C22.382,19.089,0.053,60,0.053,60S22.382,100.91,60,100.91S119.947,60,119.947,60S97.618,19.089,60,19.089z M59.999,84.409C46.54,84.409,35.59,73.459,35.59,60c0-13.459,10.95-24.409,24.409-24.409c13.459,0,24.409,10.95,24.409,24.409 C84.408,73.459,73.458,84.409,59.999,84.409z'/%3E%3Ccircle cx='60' cy='60.583' r='14.409'/%3E%3C/svg%3E");
  position: relative;
  top: -7px;
  left: -5px;
}

.layout__header h2 {
  font-size: 8px;
  color: #33cccc;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 2px 0;
  margin: 0;
}

#data-container {
position: fixed;
top: 40px;
right: 40px;
width: 180px;
}

.panel{
background:transparent;
z-index: 1;
padding: 10px 0 0;
font-size: 12px;
width: 100%;
max-width: 450px;
}

#console h1 {
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

#console__image {
  float:right;
  border: 5px solid white;
    margin-top: 30px;
max-width: 250px; /* Set a maximum width of 100px */
-webkit-filter:brightness(80%) sepia(100%) hue-rotate(135deg) saturate(500%) contrast(60%);
filter: brightness(80%) sepia(100%) hue-rotate(135deg) saturate(500%) contrast(60%);
}
#console__image img {
max-width: 250px}
#console__image:empty {display: none;}

.content-container {
flex: 0 0 80%; /* Set the flex basis to 80% and allow the element to shrink or grow */
color: #21f9f9;
line-height: 18px;
font-size: 11px;
text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

#console__text span {
display:block;
}

#console__text span:first-of-type {
color: white;
}

.tab-container {
  padding: 0;
    height: 30px;
}

.tab-container input {
  display: none;
}
.tab-container input#tab1:checked ~ .content-container #c1 {
  opacity: 1;
}
.tab-container input#tab2:checked ~ .content-container #c2 {
  opacity: 1;
}
.tab-container label {
  color: #25adad;
  display: inline-block;
  text-align: center;
  background: #194146;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 15px;
  z-index: 2;
  border: 1px solid #25adad;
}
.tab-container input:checked + label {
  background: #25adad;
  color: #194146;
}

.tab-container .content-container {
  position: relative;
  height: 100vh;
  clear: both;
    z-index: 1;
}
.tab-container .content-container .content {
  position: absolute;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: 0.25s ease;
  color: white;
}
#layout__header-nav {
  pointer-events: auto;
}

/*
#console::before {
content: "Telesthesia:";
display: block;
position: absolute;
top: -8px;
left: 10px;
color: #20dfdf;
background: #194146;
padding: 2px 5px;
}
*/

main {
border: 10px solid #194146;
box-sizing: border-box;
}

.marker {
width: 13px;
height: 13px;
background: #00ffb2;
border-radius: 50%;
}

#log {
position: absolute;
bottom: 50px;
left: 30px;
color: #fff;
font-size: 7px;
line-height: 3px;
text-shadow: 2px 2px #000000;
}

.main-nav {
    max-width: 600px;
    margin: 0 auto;
}

.main-nav a {
   text-decoration: none;
}

.main-nav__item {
    background: #306066;
    padding: 15px;
    margin: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid #467d85;
}

.main-nav__item:hover {
    background: #244f54;
}

.main-nav__item h2 {
    margin: 0;
    border-bottom: 1px solid #42757d;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-nav__item p {
        font-size: 12px;
}

.layout__header {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  pointer-events: none;
}

.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  max-width: 250px;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  -webkit-animation: scanlines 1s steps(60) infinite;
          animation: scanlines 1s steps(60) infinite;
}

/* Desktop layout */
.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.layout__map {
  display: block;
  width: 100%;
  height:calc(100% - 22px);
  position: relative;
}

#mapcontainer,   #map {
height: calc(100% - 2px)
}

.layout__data {
  width: 40%;
  max-width: 450px;
  overflow:auto;
  position: absolute;
  top: 30px;
  right: 70px;
  z-index: 100;
  padding: 0;
  text-align: right;  
  pointer-events: none;
}

.btn-console--active #c1, .btn-viewings--active #c2 {
display: block;
}

.btn-viewings--active #c1, .btn-console--active #c2  {
  display: none;
}

button {cursor:pointer;}

#c2 {color:white;}
#c2 h2 {
  background: transparent;
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px dashed white;
    line-height: 1.5rem;
}

@media (max-width: 767px) {
  .layout__header h1 {
    font-size: 16px;
    line-height: 20px;
  }
  .layout__data {
    width: initial;
    max-width: 85%;
    top: inherit;
    left: 25px;
    right: 0;
    bottom: 15px;
    text-align: left;
  }
  .panel, #c2 {
    font-size: 10px;
    line-height: 14px;
  }
  .content-container {
    padding: 10px;
  }
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

/**
* termynal.js
*
* @author Ines Montani <ines@ines.io>
* @version 0.0.1
* @license MIT
*/

:root {
--color-bg: #252a33;
--color-text: #eee;
--color-text-subtle: #a2a2a2;
}

[data-termynal]:before {
content: '';
position: absolute;
top: 15px;
left: 15px;
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
display: none;
}

[data-termynal]:after {
position: absolute;
top: 5px;
left: 0;
width: 100%;
text-align: center;
}

[data-ty] {
display: block;
line-height: 2;
}

[data-ty]:before {
content: '';
display: inline-block;
vertical-align: middle;
display: none;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
margin-right: 0.75em;
color: var(--color-text-subtle);
}

[data-ty][data-ty-prompt]:before {
content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
content: attr(data-ty-cursor);
font-family: monospace;
margin-left: 0.5em;
-webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

/* Mobile */
@media (max-width: 640px) {

#data-container {
position: fixed;
bottom: 0;
top: auto;
right: 0;
width: 100%;
padding: 0;
z-index: 2;
}

#console__image {
max-width: 100%;
padding: 0 0 0 10px;
}

#console::before {
top: 10px;
left: 30px;
}

}	


/* Cursor animation */

@-webkit-keyframes blink {
50% {
opacity: 0;
}
}

@keyframes blink {
50% {
opacity: 0;
}
}