body {
    padding: 0;
    margin: 0;
    font-family: 'Martian Mono', monospace;
    background: #194146;
}

body::before {
content: '';
display: block;
z-index: 1;
position: fixed;
width: 100%;
height: 100vh;
box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
pointer-events: none;
}

html, body, main, #map, #mapcontainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#map {
  z-index:0;
  -webkit-filter: brightness(100%) sepia(100%) hue-rotate(135deg) saturate(700%) contrast(75%);
  filter: brightness(100%) sepia(100%) hue-rotate(135deg) saturate(700%) contrast(75%);
  background: #194146;

}
#map::after {
    content: "";
background-image: radial-gradient(#4d5e69 1px, transparent 0);
background-size: 40px 40px;
background-position: -19px -19px;
width: 100%;
height: 100vh;
z-index: 9999;
pointer-events: none;
position: absolute;
top: 0;
left: 0;
opacity: 0.5;
}

 
  .Layers {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
  
  .Layers li {
    list-style: none;
    margin: 0;
  }
  
  .Layers button {
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .Layers button.active {
    background: #148b8b;
  }
  
  .Layer {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  
  .Layer.Layer-visible {
    display: block;
  }
      

  #viewingscontainer, #statscontainer  {
    display: none;
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    max-height: 100px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%)
  }


#data-container {
position: fixed;
top: 40px;
right: 40px;
width: 180px;
}

.panel, .carousel-item {
min-height: 20px;
background-color: rgba(0, 0, 29, 0.3);
z-index: 1;
padding: 20px;
/* display: flex; */
font-size: 12px;
border: 1px solid #20dfdf;
}

#console__image {
flex: 0 0 20%; /* Set the flex basis to 20% and allow the element to shrink or grow */
max-width: 100%; /* Set a maximum width of 100px */
}
#console__image img {
max-width: 100%;}

#console__text, .carousel-item {
flex: 0 0 80%; /* Set the flex basis to 80% and allow the element to shrink or grow */
color: #21f9f9;
line-height: 18px;
font-size: 11px;
}

#console__text span {
display:block;
}

#console__text span:first-of-type {
color: white;
}


#console::before {
content: "Telesthesia:";
display: block;
position: absolute;
top: -8px;
left: 10px;
color: #20dfdf;
background: #194146;
padding: 2px 5px;
}

main {
border: 15px solid #194146;
box-sizing: border-box;
}

.marker {
width: 13px;
height: 13px;
background: #00ffb2;
border-radius: 50%;
}

#log {
position: absolute;
bottom: 50px;
left: 30px;
color: #fff;
font-size: 7px;
line-height: 3px;
text-shadow: 2px 2px #000000;
}

.main-nav {
    max-width: 600px;
    margin: 0 auto;
}

.main-nav a {
   text-decoration: none;
}

.main-nav__item {
    background: #306066;
    padding: 15px;
    margin: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid #467d85;
}

.main-nav__item:hover {
    background: #244f54;
}

.main-nav__item h2 {
    margin: 0;
    border-bottom: 1px solid #42757d;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-nav__item p {
        font-size: 12px;
}

/**
* termynal.js
*
* @author Ines Montani <ines@ines.io>
* @version 0.0.1
* @license MIT
*/

:root {
--color-bg: #252a33;
--color-text: #eee;
--color-text-subtle: #a2a2a2;
}

[data-termynal]:before {
content: '';
position: absolute;
top: 15px;
left: 15px;
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
display: none;
}

[data-termynal]:after {
position: absolute;
top: 5px;
left: 0;
width: 100%;
text-align: center;
}

[data-ty] {
display: block;
line-height: 2;
}

[data-ty]:before {
content: '';
display: inline-block;
vertical-align: middle;
display: none;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
margin-right: 0.75em;
color: var(--color-text-subtle);
}

[data-ty][data-ty-prompt]:before {
content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
content: attr(data-ty-cursor);
font-family: monospace;
margin-left: 0.5em;
-webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

/* Mobile */
@media (max-width: 640px) {

#data-container {
position: fixed;
bottom: 0;
top: auto;
right: 0;
width: 100%;
padding: 0;
z-index: 2;
}

#console__image {
max-width: 100%;
max-height: 150px;
overflow: hidden;
}

.panel {
margin: 20px;
background-color: rgba(0, 0, 29, 0.5);
}

body::before {
box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
}

#console::before {
top: 10px;
left: 30px;
}

}	


/* Cursor animation */

@-webkit-keyframes blink {
50% {
opacity: 0;
}
}

@keyframes blink {
50% {
opacity: 0;
}
}