---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<form>
  <div id="1" draggable="true" ondragstart="dragStart(event)">Div 1</div>
  <div id="2" draggable="true" ondragstart="dragStart(event)">Div 2</div>
  <div id="3" draggable="true" ondragstart="dragStart(event)">Div 3</div>
  <div id="4" draggable="true" ondragstart="dragStart(event)">Div 4</div>
    <div id="5" draggable="true" ondragstart="dragStart(event)">Div 5</div>
      <div id="6" draggable="true" ondragstart="dragStart(event)">Div 6</div>
        <div id="7" draggable="true" ondragstart="dragStart(event)">Div 7</div>
          <div id="8" draggable="true" ondragstart="dragStart(event)">Div 8</div>
            <div id="9" draggable="true" ondragstart="dragStart(event)">Div 9</div>
  <div id="10" draggable="true" ondragstart="dragStart(event)">Div 10</div>

  <div id="drop-target-1" ondrop="drop(event)" ondragover="dragOver(event)">Drop Target 1</div>
  <div id="drop-target-2" ondrop="drop(event)" ondragover="dragOver(event)">Drop Target 2</div>
  <div id="drop-target-3" ondrop="drop(event)" ondragover="dragOver(event)">Drop Target 3</div>
  <div id="drop-target-4" ondrop="drop(event)" ondragover="dragOver(event)">Drop Target 4</div>
  <div id="drop-target-5" ondrop="drop(event)" ondragover="dragOver(event)">Drop Target 5</div>

  <button id="button">Submit</button>

  <div id="result"></div>
</form>


    <button id="button">Submit</button>

  <div id="result"></div>

  <script>
  function dragStart(event) {
  event.dataTransfer.setData("id", event.target.id);
}

function dragOver(event) {
  event.preventDefault();
}

function drop(event) {
  event.preventDefault();
  const id = event.dataTransfer.getData("id");
  event.target.innerHTML = id;
}

const button = document.getElementById('button');

button.addEventListener('click', () => {
  const dropTarget1 = document.getElementById('drop-target-1');
  const dropTarget2 = document.getElementById('drop-target-2');
  const dropTarget3 = document.getElementById('drop-target-3');
  const dropTarget4 = document.getElementById('drop-target-4');
  const dropTarget5 = document.getElementById('drop-target-5');
  const value1 = dropTarget1.innerHTML;
  const value2 = dropTarget2.innerHTML;
  const value3 = dropTarget3.innerHTML;
  const value4 = dropTarget4.innerHTML;
  const value5 = dropTarget5.innerHTML;

  const url = `/.netlify/functions/lookupcards?values=${value1},${value2},${value3},${value4},${value5}`;
  console.log(url);

 fetch(url)
  .then(response => response.json())
  .then(data => {
    const result = document.getElementById('result');
    result.innerHTML = data.allvalues;
  })
  .catch(error => {
    console.error(error);
  });
});

  </script>