---
layout: layouts/telesthesia-base.njk
---
 <div id="crosshair-h" class="hair"></div>
  <div id="crosshair-v" class="hair"></div>
<div class="layout">

  <div class="layout__header">
    <h1>telesthesia</h1>
    <h2>Institute</h2>
    <div id="countdown__timer"></div>
  </div>

  <div class="layout__map">
      <div id="mapcontainer">
        <div id="map"></div>
      </div>
  </div>

  <div class="layout__data">

    <div class="content-container">

       <div id="console" class="panel">
                <div id="console__text" data-ty-prefix="> "><span>Welcome to the TELESTHESIA system.</span><span>Select a location to take an energy reading.</span></div>
                <div id="console__image" class="scanlines"></div>
            </div>
        
      </div>
    
    </div>
  </div>
  </div>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<script src='https://telesthesia-app.netlify.app/js/telesthesia.js'></script>