---
layout: layouts/telesthesia-base.njk
---

<ul class="Layers">
  <li>viewings</li>
  <li>stats</li>
</ul>

    <!-- Create a div element to hold the map -->
    <div id="mapcontainer">
      <div id="map"></div>
    </div>

    <div id="data-container">

     <div id="console" class="panel">
        <div id="console__text"><span>Ready for input.</span><span>Select a location to search.</span></div>
        <div id="console__image"></div>
    </div>

    </div>

    <div id="log"></div>

    <div id="viewingscontainer">
      <div>
        Viewings
      </div>
    </div>

        <div id="statscontainer">
          <div>
            stats
          </div>
        </div>

    <!-- Include the Leaflet JavaScript file -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<script src='https://telesthesia-app.netlify.app/js/telesthesia.js'></script>
    <!-- Initialize the map -->