---
layout: layouts/telesthesia-base.njk
---

<ul class="Layers">
  <li><button id="viewings-button">Viewings</button></li>
  <li><button id="stats-button">Stats</button></li>
</ul>

    <!-- Create a div element to hold the map -->
    <div id="mapcontainer">
      <div id="map"></div>
    </div>

    <div id="data-container">

     <div id="console" class="panel">
        <div id="console__text"><span>Ready for input.</span><span>Select a location to search.</span></div>
        <div id="console__image"></div>
    </div>

    </div>

    <div id="log"></div>

    <div id="viewings-layer" class="Layer">Viewings Layer</div>
<div id="stats-layer" class="Layer">Stats Layer</div>

    <!-- Include the Leaflet JavaScript file -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<script src='https://telesthesia-app.netlify.app/js/telesthesia.js'></script>
    <!-- Initialize the map -->
    <script>
const viewingsButton = document.getElementById('viewings-button');
const statsButton = document.getElementById('stats-button');
const viewingsLayer = document.getElementById('viewings-layer');
const statsLayer = document.getElementById('stats-layer');

viewingsButton.addEventListener('click', () => {
  if (viewingsLayer.classList.contains('Layer-visible')) {
    viewingsLayer.classList.remove('Layer-visible');
  } else {
    viewingsLayer.classList.add('Layer-visible');
    statsLayer.classList.remove('Layer-visible');
  }
});

statsButton.addEventListener('click', () => {
  if (statsLayer.classList.contains('Layer-visible')) {
    statsLayer.classList.remove('Layer-visible');
  } else {
    statsLayer.classList.add('Layer-visible');
    viewingsLayer.classList.remove('Layer-visible');
  }
});
      </script>