---
layout: layouts/telesthesia-base.njk
---


<div class="tab-container">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Tab 1</label>
  
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Tab 2</label>
  
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Tab 3</label>
  
  <div class="tab-content">

       <div id="mapcontainer">
      <div id="map"></div>
    </div>

    <div id="data-container">

     <div id="console" class="panel">
        <div id="console__text"><span>Ready for input.</span><span>Select a location to search Telesthesia for relevant data in relation to case #8492.`</span></div>
        <div id="console__image"></div>
    </div>

    </div>

    <div id="log"></div>

  </div>
  
  <div class="tab-content">
    <div id="viewings"></div>
  </div>
  
  <div class="tab-content">
    <p>Content for Tab 3 goes here.</p>
  </div>
</div>

    <!-- Include the Leaflet JavaScript file -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<script src='https://telesthesia-app.netlify.app/js/telesthesia.js'></script>
    <!-- Initialize the map -->