---
layout: layouts/telesthesia-base.njk
---

    <!-- Create a div element to hold the map -->
    <div id="mapcontainer">
      <div id="map"></div>
    </div>

    <div id="data-container">

     <div id="console" class="panel">
        <div id="console__text"><span>Ready for input.</span><span>Select a location to search Telesthesia for relevant data in relation to case #8492.`</span></div>
        <div id="console__image"></div>
    </div>

    <div class="carousel-container">
  <div id="carousel">
    <div class="carousel-inner" id="carousel-inner"></div>
    <a class="carousel-control carousel-control-prev" href="#carousel" role="button" data-slide="prev" id="carousel-prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control carousel-control-next" href="#carousel" role="button" data-slide="next" id="carousel-next">
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


    </div>

    <div id="log"></div>

    <!-- Include the Leaflet JavaScript file -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<script src='https://telesthesia-app.netlify.app/js/telesthesia.js'></script>
    <!-- Initialize the map -->