---
layout: layouts/telesthesia-base.njk
---

<h1>Viewings</h1>

<div id="grid-container">
</div>


  <script>
    // Fetch data from Netlify function
    fetch('/getviewings')
      .then(response => response.json())
      .then(data => {
        const gridContainer = document.getElementById('grid-container');

        // Draw grid items
        data.viewings.forEach(viewing => {
          const gridItem = document.createElement('div');
          gridItem.classList.add('grid-item');
          gridItem.textContent = viewing.viewing;
          gridContainer.appendChild(gridItem);
        });
      })
      .catch(error => console.error(error));
  </script>