<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/htmltypist.js/dist/typist.css">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, main, #map, #mapcontainer {
            height: 100%;
            width: 100%;
        }
        #map {
          z-index:0;
        }
        #console {
          position: fixed; bottom: 0; left: 0; right: 0; height: 80px; background-color: white;z-index:1;padding:20px;display:flex;
        }
          #console__image {
        flex: 0 0 20%; /* Set the flex basis to 20% and allow the element to shrink or grow */
        max-width: 100px; /* Set a maximum width of 100px */
        background-color: blue; /* Set the background color to blue */
      }
       #console__text {
        flex: 0 0 80%; /* Set the flex basis to 80% and allow the element to shrink or grow */
      }
    </style>
    
    </head>
  <body>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdn.jsdelivr.net/npm/htmltypist.js/dist/typist.js"></script>
  </body>
</html>
